# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

.project
.idea/*
__MACOSX/*
.DS_Store

# django compressor cache
whitelabel/static/*
.sass-cache/*

logs/*

_generated_media*

imported-sass-frameworks/*

default.db