{% extends "base.html" %}
{% load i18n %}

{% block article %}
    <h1>My Profile</h1>
    <p>Fill out the form below if you would like to edit your details</p>
<form class="float" method="post" action=".">{% csrf_token %}

    {% for field in form.visible_fields %}
        <label for="{{ field.label }}">{{ field.label }}
        {% if field.field.required %}<span class="req">*</span>{% endif %}</label>
        {{ field }}
        {{ field.errors }}
    {% endfor %}


	<input class="button primary forward" type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
